/*
MAIN
***/
.admin__page-wrapper
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
  padding: 0 10px;

.admin__section-title
  font-size: 1.5rem;
  padding: 10px 0 15px 0;
/*
MAIN
***/

/*
NEWS
***/
.admin-news
  max-width: 75%
  
  padding: 0
  margin: 0

.admin-news__item
  padding: 10px 0;

  &:nth-child(even)
    background-color: #F8F8F8;

.admin-news__item-title
  display: inline-block
  font-size: 1.1875rem;
  padding: 0 0 5px 0;

.admin-news__item-date
  font-size: .75rem;
  padding: 0 0 10px 0;

.admin-news__item-body
  font-size: 1rem;
  padding: 0 0 10px 0;
/*
NEWS
***/

/*
ADD NEWS
*******/
.form-news
  border-bottom: 1px dotted gray;

.form-news__title-input
  display: inline-block;
  width: 25%;

  padding: 10px;
  margin: 0 0 10px 0;
    
  outline: none;

  border: 1px solid gray;

.form-news__message-input
  display: inline-block;
  width: 75%;
  max-width: 100%;
  height: 150px;
  
  padding: 10px;
  margin: 0 0 10px 0;

  outline: none;

  border: 1px solid gray;
/*
ADD NEWS
*******/

/*
BUTTONS
******/
.admin__btn-delete
  padding: 3px
  
  font-family: sans-serif;
  font-size: .75rem;
  text-decoration: none;
  
  transition: background-color .25s ease, color .25s ease;
  
  border: 1px solid #02a3c6;
  
  color: #02a3c6;
  
  &:hover
    color: #ffffff;
    background-color: #02a3c6
    
.admin__btn-blue
  display: inline-block;
  
  padding: 10px 20px;
  
  vertical-align: top;
  cursor: pointer;
  background: none;
  outline: none;
  
  transition: background-color .25s ease, color .25s ease;
  
  border: 1px solid #02a3c6;
  
  color: #02a3c6;

  &:hover
    color: #ffffff;
    background-color: #02a3c6
/*
BUTTONS
******/

/*
NAVIGATION
*********/
.admin-nav
  background-color: #333745;

.admin-nav__item
  display: inline-block;
  margin: 0 5px 0 0;

  &:last-child
    margin: 0;


.admin-nav__link
  display: inline-block;
  text-decoration: none;

  padding: 10px 15px;
  background-color: #404452;
  
  font-family: sans-serif;
  font-size: .875rem;

  color: #fff;

  transition: background-color .25s ease;
  
  &:hover
    background-color: rgba(0, 0, 0, 0);
/*
NAVIGATION
*********/

/*
CALENDAR
*******/
.admin__calendar-wrapper {
  display: inline-block
  margin: 0 50px 0 0
  
  & .days_cal--inner {
    padding: 5px 0
    
    border: none
  }
  
  & .days_cal--inner_selected {
    border: none
    color: red
  }
}
/*
CALENDAR
*******/

/*
TOP SLIDER
*******/
.form-slider__file-upload {
  display: block
  margin: 0 0 10px 0
}

.form-slider__img-checkbox {
  margin: 0 0 10px 0
}
/*
TOP SLIDER
*******/
