/*
BUTTONS
******/
.btn {
  font-family: 'Open Sans Condensed', sans-serif;

  display: inline-block;

  padding: 8px;

  cursor: pointer;
  user-select: none;
  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid;
  outline: none;
}

.btn--top
  margin: 15px 0;
  padding: 15px;
  
  vertical-align: middle

  border: 5px solid $clrRedText;
  
  color: $clrRedText
  background-color: $clrTransparent100

  &:hover
    color: $clrRed
    background-color: $clrRedText

.btn--top--heading {
  font-size: 2.75rem;

  letter-spacing: .15rem;
}

.btn--top--subheading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;

  letter-spacing: .27rem;
}

.btn--add {
  padding: 5px;
  
  font-size: 1.125rem;
  line-height: 1
  text-transform: none;
  
  opacity: 1
  border: 0;
  
  color: $clrGoldText
  background-color: $clrTransparent100
  
  transition: opacity .25s ease;
  
  &:hover,
  &:active {
    opacity: .75;
  }
}

.btn--add-lg {
  font-size: 1.5rem;
}

.btn--mainType {
  font-size: 1.05rem;
  line-height: 1.42rem;

  text-align: center;
  letter-spacing: .035rem;
}

.btn--menu {
  margin-left: 1rem;
}

.btn--photos {
  width: 46%;
  margin: 25px 1% 0 1%;
}

.btn--sendReview {
  font-size: 1rem;
  width: 100%;
}

.btn--sendMenu {
  font-size: 1rem;
  opacity: .9;
}

.btn--sendBanquetReservation {
  font-size: 1rem;
  opacity: .9;
}

.btn--gold
  color: $clrGoldText
  border-color: $clrGoldText
  text-shadow: none
  background: none

  &:hover
    color: $clrGoldBackground
    background: $clrGoldText

.btn--cart {
  display: block;
  width: 100%;

  padding: 5px;
  
  font-size: .875rem;
  text-transform: none;
  line-height: 1.25;

  border: 1px solid $clrTransparent70;
}

.btn--grey
  color: $clrGreyText
  border-color: $clrGreyText
  background: $clrGreyBackground

  &:hover
    color: $clrGreyBackground
    background: $clrGreyText

.btn--red
  color: $clrRedText
  border-color: $clrRedText
  background: $clrTransparent100
  text-shadow: 1px 1px 1px $clrTransparent70

  &:hover
    color: $clrRed
    background: $clrRedText
    text-shadow: 0 0 0 $clrTransparent100
/*
BUTTONS
******/