.calendar__header
  font-size: 1.25rem

  padding: 0 0 10px 1rem

.calendar__table
  width: 100%
  margin: 0
  padding: 0

  text-align: center

.calendar__table-head
  font-size: 1.125rem
  line-height: 60px

.calendar__day-names
  font-size: .625rem
  line-height: 27px

.calendar__table-body
  margin: 0
  padding: 0

  vertical-align: top
  text-align: center

.calendar__days
  font-size: 1rem

  display: block

  margin: 0 7px
  padding: 11px 0

  cursor: pointer
  transition: border-color .25s ease
  text-decoration: none
  color: $clrGoldText

  border: 1px solid $clrTransparent100
  border-radius: 100%
  
  &:empty
    cursor: default

.calendar__days--selected
  border-right: 1px solid $clrGoldText
  border-left: 1px solid $clrGoldText

.calendar__days--booked
  cursor: default
  opacity: .25
  
  transition: opacity .25s ease
