.calendar__header
  font-size: 1.25rem

  padding: 0 0 10px 1rem

.table_calendar
  width: 100%
  margin: 0
  padding: 0

  text-align: center

.head_cal
  font-size: 1.125rem
  line-height: 60px

.week_cal
  font-size: .625rem
  line-height: 27px

.days_cal
  margin: 0
  padding: 0

  vertical-align: top
  text-align: center

.days_cal--inner
  font-size: 1rem

  display: block

  margin: 0 7px
  padding: 11px 0

  cursor: pointer
  transition: border-color .25s ease
  text-decoration: none
  color: $clrGoldText

  border: 1px solid $clrTransparent100
  border-radius: 100%

.days_cal--inner_selected
  border-right: 1px solid $clrGoldText
  border-left: 1px solid $clrGoldText

.days_cal--event
  cursor: default
  opacity: .35
  
  transition: opacity .25s ease
