.table_calendar
  width: 100%
  margin: 0
  padding: 0

  text-align: center

.head_cal
  font-size: 20px
  line-height: 60px

.week_cal
  font-size: 15px
  line-height: 27px

.days_cal
  margin: 0
  padding: 0

  vertical-align: top
  text-align: center

.days_cal--inner
  font-size: 25px

  display: block

  margin: 0 .25em 0 0
  padding: 0 0 .25em 0

  cursor: pointer
  transition: border-color .25s ease
  text-decoration: none
  color: $clrGoldText

  border: .1em solid $clrTransparent100
  border-radius: 35%

.days_cal--inner_selected
  border-right: .1em solid $clrGoldText
  border-left: .1em solid $clrGoldText

.days_cal--event
  cursor: default
  opacity: .35
  
  transition: opacity .25s ease
