/*<sections background and colors>--------------------------------------------*/
/*The CSS should be connected last to work correct*/
/*red #df6161
  gold #eee8d9
  grey (brown) #564f4a*/
  
// $clrGoldText = #2d2d2d
// $clrGoldBackground = #ecc7e9
// $clrGoldTextShadow = rgba(255,255,255,.25)
// $clrGoldHeading = #f0f0f0
// $clrGoldHeadingBackground = rgba(45,45,45,.75)

// $clrRed = #cb413f
// $clrRedText = #f0f0f0
// $clrRedBoxShadowTop = #bc4b4b
// $clrRedBoxShadowBottom = #bc4b4b
// $clrRedTextShadow = #d25151

// $clrGreyText = #f0f0f0
// $clrGreyBackground = #2d2d2d

$clrGoldText = #2d2d2d
$clrGoldBackground = #f6eede
$clrGoldTextShadow = rgba(255,255,255,.25)
$clrGoldHeading = #f0f0f0
$clrGoldHeadingBackground = rgba(45,45,45,.75)

$clrRed = #911616
$clrRedText = #f0f0f0
$clrRedBoxShadowTop = #2d2d2d
$clrRedBoxShadowBottom = #2d2d2d
$clrRedTextShadow = #d25151

$clrGreyText = #f0f0f0
$clrGreyBackground = #2d2d2d

$clrTransparent100 = rgba(0, 0, 0, 0)
$clrTransparent70 = rgba(0, 0, 0, .3)

.gold
  color: $clrGoldText
  background-color: $clrGoldBackground
  text-shadow: 1px 1px 1px $clrGoldTextShadow
  background: $clrGoldBackground url(../../img/bgbot.png) bottom repeat-x

.gold--noBgImage
  color: $clrGoldText
  background-color: $clrGoldBackground
  text-shadow: 1px 1px 1px $clrGoldTextShadow
  background: $clrGoldBackground

.gold__heading
  color: $clrGoldHeading
  text-shadow: none

.gold__heading-background
  background-color: $clrGoldHeadingBackground

.red
  color: $clrRedText
  background-color: $clrRed

.grey
  color: $clrGreyText
  background-color: $clrGreyBackground

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
.btn--top
  color: $clrRedText
  border-color: $clrRedText
  background: $clrTransparent100
  text-shadow: 1px 1px 1px $clrTransparent70

  &:hover
    color: $clrRed
    background: $clrRedText
    text-shadow: 0 0 0 $clrTransparent100

.btn--gold
  color: $clrGoldText
  border-color: $clrGoldText
  text-shadow: none
  background: none

  &:hover
    color: $clrGoldBackground
    background: $clrGoldText

.btn--grey
  color: $clrGreyText
  border-color: $clrGreyText
  background: $clrGreyBackground

  &:hover
    color: $clrGreyBackground
    background: $clrGreyText

.btn--red
  color: $clrRedText
  border-color: $clrRedText
  background: $clrTransparent100
  text-shadow: 1px 1px 1px $clrTransparent70

  &:hover
    color: $clrRed
    background: $clrRedText
    text-shadow: 0 0 0 $clrTransparent100

.btn--add
  color: $clrGoldText
  background-color: $clrTransparent100

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
.nav-link
  color: $clrGoldHeading
  border-color: $clrGoldHeading

  &:hover
    border-color: $clrGoldHeading

.top_nav-sticky
  background-color: $clrGoldBackground

  .nav-link,
  .nav-link:visited
    color: $clrGoldText

    &:hover
      border-color: $clrGoldText

.top_nav-menu
  background-color: $clrGoldBackground

.nav-link-menu
  color: $clrGoldText
  border-color: $clrTransparent100

  &:hover
    border-color: $clrGoldText

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
.days_cal--inner
  color: $clrGoldText
  border-color: $clrTransparent100

.days_cal--inner_selected
  border-left-color: $clrGoldText
  border-right-color: $clrGoldText

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

.menu_nav-link 
  color:  $clrGoldText
  border-color: $clrTransparent100

.menu_nav-link:hover
  border-color: $clrGoldText