/*<form>----------------------------------------------------------------------*/
form {
  font-family: 'Open Sans Condensed', sans-serif;

  text-align: right;
  vertical-align: baseline;
}

input[type='text'] {
  font-family: 'PT Serif', serif;
  font-size: 1rem;
  line-height: 1.42rem;

  display: block;
  overflow: hidden;

  width: 100%;
  margin-bottom: .5rem;
  padding: .5rem;

  letter-spacing: .035rem;

  border: .1rem dashed grey;
  outline: none;
  background: none;
}

input[type='text'] {
  color: rgba(45,45,45,.75);
  overflow: hidden;
  transition: opacity .3s ease;
}

input::-webkit-input-placeholder {
  color: rgba(45,45,45,.75);
  overflow: hidden;
  transition: opacity .3s ease;
}

input::-moz-placeholder {
  color: rgba(45,45,45,.75);
  overflow: hidden;
  transition: opacity .3s ease;
}/* Firefox 19+ */

input:-moz-placeholder {
  color: rgba(45,45,45,.75);
  overflow: hidden;
  transition: opacity .3s ease;
}/* Firefox 18- */

input:-ms-input-placeholder {
  color: rgba(45,45,45,.75);
  overflow: hidden;
  transition: opacity .3s ease;
}

input:focus::-webkit-input-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

input:focus::-moz-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

input:focus:-moz-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

input:focus:-ms-input-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

textarea {
  font-family: 'PT Serif', serif;
  font-size: 1rem;
  line-height: 1.42rem;

  display: inline;

  width: 100%;
  height: 15rem;
  margin-bottom: .5rem;
  padding: .5rem;

  resize: none;
  letter-spacing: .035rem;

  color: #f0f0f0;
  border: none;
  border: 1.5px dashed #f0b6b6;
  outline: none;
  background: none;
  text-shadow: -.9px -.9px 0 #d25151;
}

/*label {
	font-size: 1rem;
	letter-spacing: .045rem;
	padding-bottom: .8rem;
}*/

textarea::-webkit-input-placeholder {
  overflow: auto;

  transition: opacity .3s ease;

  opacity: 1;
  color: #f0f0f0;
  text-shadow: -.9px -.9px 0 #d25151;
  /*Фоновый цвет и тени*/
}
textarea::-moz-placeholder {
  overflow: auto;

  transition: opacity .3s ease;

  opacity: 1;
  color: #f0f0f0;
  text-shadow: -.9px -.9px 0 #d25151;
}/* Firefox 19+ */

textarea:-moz-placeholder {
  overflow: auto;

  transition: opacity .3s ease;

  opacity: 1;
  color: #f0f0f0;
  text-shadow: -.9px -.9px 0 #d25151;
}/* Firefox 18- */

textarea:-ms-input-placeholder {
  overflow: auto;

  transition: opacity .3s ease;

  opacity: 1;
  color: #f0f0f0;
  text-shadow: -.9px -.9px 0 #d25151;
}

textarea:focus::-webkit-input-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

textarea:focus::-moz-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

textarea:focus:-moz-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  transition: opacity .3s ease;

  opacity: 0;
}