/**
 * MENU SIDEBAR
 */
.menu-nav__wrapper
  position: fixed
  top: 0;

  height: 100%

  width: 200px
  padding: 5rem 10px 0 10px
  
  @media (max-width: 375px)
    width: 100px

.menu-nav__list

.menu-nav__list-item
  display: inline-block
  
  @media (max-width: 375px)
    display: block

.menu-nav__list-link
  display: block
  
  font-family: 'Open Sans Condensed', sans-serif
  font-size: .875rem
  line-height: 1
  
  padding: 5px
  margin: 0 5px 7px 0

  transition: border-color .25s ease
  text-decoration: none
  letter-spacing: .05rem
  
  color: $clrGoldText

  border: 1px dotted $clrTransparent70
  border-radius: 5px

  &:hover
    border-color: $clrGoldText
    
  @media (max-width: 375px)
    font-size: .75rem
    margin: 0 0 7px 0

.menu-nav__footer
  position: absolute
  bottom: 0
  
  margin: 0 0 20px 0
  
  @media (max-height: 470px), (max-width: 375px)
    display: none
  
.menu-nav__footer-title
  margin: 0 0 10px 0
  
  font-size: 1rem
  
.menu-nav-footer-text
  margin: 0 0 7px 0
  
  font-size: .875rem
/**
 * MENU SIDEBAR NAVIGATION
 */
 
/**
 * MENU CONTAINER
 */
.menu-container
  display: flex
  
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between;
  align-items: stretch;
  
  overflow: hidden

  margin: 0 0 0 200px
  padding: 0 5px
  
  @media (max-width: 375px)
    margin: 0 0 0 100px


.menu-items__header
  padding: 5rem 0 20px 0
  flex-basis: 100%

.menu-item
  flex-basis: 200px
  flex-grow: 1
  
  margin: 0 15px 15px 0
  padding: 10px
  
  font-size: 1rem

  border: 1px dotted $clrTransparent70


.menu-item img
  width: 5rem
  height: 5rem
  margin-right: .75rem
  margin-bottom: .5rem

  border-radius: 20%

.menu-item p
  margin: .25rem

  word-wrap: normal

.menu-item__price
  text-align: right

.menu-item__ingredients
  font-family: 'Open Sans Condensed', sans-serif
  font-size: .8rem

.menu-item__cal
  font-size: .8rem
/**
 * MENU CONTAINER
 */