/*
NAVIGATION
*********/
.top-nav
  position: fixed;
  width: 75%;
  min-width: 960px;
  top: 0;
  left: 0;
  right: 0;
  
  margin: 0 auto;
  
  z-index: 10;

  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: right;

  user-select: none;
  transition: background-color .25s ease;
  transform: translateZ(0);

  @media (max-width: 1366px)
    width: 100%;


.top-nav--sticky 
  top: 0;
  width: 100%;
  
  background-color: $clrGoldBackground
  
  .top-nav--sticky
  .top-nav__list-link,
  .top-nav__list-link:visited
    color: $clrGoldText

    &:hover
      border-color: $clrGoldText

.top-nav__list-item {
  display: inline-block;
  margin: 0 10px;
}

.top-nav__list-link
  display: block;
  margin: 0
  padding: 20px 0;
  
  color: $clrGoldHeading

  transition: border-color .25s ease, padding .25s ease, color .25s ease;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;

  border-bottom: 2px solid $clrTransparent100;

  &:hover
    padding: 20px 0 10px 0;
    border-bottom: 2px solid $clrGoldHeading;
    
    @media (max-width: 530px)
      padding: 15px 0 10px 0;
    
  @media (max-width: 530px)
    font-size: .875rem;
    padding: 15px 0
  
  @media (max-width: 530px)
    font-size: .75rem;
    
.top-nav__logo {
  position: absolute;
  top: 0;
  left: 0;
  
  margin: 0 0 0 25px;
  padding: 0;
  
  cursor: pointer;
  
  @media (max-width: 660px) {
    // display: none;
  }
}

.top-nav__logo-square {
  height: 100%;
}

.top-nav__logo-ribbon {
  width: 15%;
}

.top-nav--menu
  width: 100%

  background-color: $clrGoldBackgroundTransparent

.top-nav__list-link--menu
  color: $clrGoldText

  &:hover
    border-color: $clrGoldText

/*
NAVIGATION
*********/