/*
NAVIGATION
*********/
.top_nav
  font-family: 'Open Sans Condensed', sans-serif;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 12.5%;

  width: 75%;
  min-width: 960px;
  height: 3.75rem;

  user-select: none;
  transition: background-color .3s ease;
  transform: translateZ(0);

  @media (max-width: 1366px)
    left: 0;
    width: 100%;


.top_nav-sticky 
  left: 0;
  width: 100%;
  
  background-color: $clrGoldBackground
  
  .top_nav-sticky
  .nav-link,
  .nav-link:visited
    color: $clrGoldText

    &:hover
      border-color: $clrGoldText

.nav-item {
  display: inline-block;
}

.nav-link
  display: inline-block;

  margin: 1.4rem 1.5rem 0 0;
  padding: 0;
  
  color: $clrGoldHeading

  transition: border-color .3s ease, padding .3s ease, color .3s ease;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;

  border-bottom: .15rem solid $clrTransparent100;

  &:hover
    padding-bottom: .25rem;
    border-bottom: .15rem solid $clrGoldHeading;

.top_nav--logo-square {
  position: absolute;
  top: 0;
  left: 0;

  height: 3.75rem;
  margin: 0 0 0 1.875rem;
  padding: 0;

  cursor: pointer;

  opacity: 1;
}

.top_nav--logo-ribbon {
  float: left;

  width: 18%;
  padding: 0 0 0 1.25rem;

  cursor: pointer;
  transform: translateZ(0);
}

.top_nav--logo-ribbon-sticky
  display: none
  
  @media (max-width: 1366px)
    width: 15%;

.top_nav-menu
  z-index: 10;
  left: 0;

  width: 100%;
  min-width: 960px;

  opacity: .9;
  background-color: $clrGoldBackground

.nav-link-menu
  color: $clrGoldText
  border-color: $clrTransparent100

  &:hover
    border-color: $clrGoldText

/*
NAVIGATION
*********/