/*<sections>------------------------------------------------------------------*/
.sc__main {
  cursor: default;
}

.sc__main--transparent {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden; 
  position: relative; 
}

.sc__main--transparent::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  background: url(../../img/bg_pattern.png) repeat top left;
  will-change: transform;
  z-index: -1;
}

.sc-sub {
  padding-bottom: 3rem;
}

.sc-heading {
  font-size: 2rem;

  padding-bottom: 1.5rem;

  letter-spacing: .045rem;
}

.sc-subheading {
  font-size: 2.125rem;

  margin-top: 3.25rem;
  padding-bottom: 1.25rem;

  letter-spacing: .045rem;
}

.sc-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sc-news-item {
  flex-basis: 33%;
  margin-bottom: 2.5rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  border-left: #5b534e .1rem dashed;

  flex-grow: 1;
}

.sc-news-item:nth-child(3n+1) {
  border: none;
}

.sc-news_column {
  display: flex;
  flex-direction: column;
}

.sc-news-item_column {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: #5b534e .1rem dashed;
}

.sc-news-title {
  font-size: 1.175rem;
  line-height: 1.42rem;

  padding-bottom: .425rem;

  letter-spacing: .035rem;
}

.sc-news-date {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8rem;
  line-height: 1.42rem;

  padding-bottom: 1.25rem;

  letter-spacing: .035rem;
}

.sc-news-text {
  font-size: .925em;
  line-height: 1.42em;

  letter-spacing: .035em;
}

.sc-paragraph {
  font-size: 1rem;
  line-height: 1.42rem;

  padding-bottom: .75rem;

  text-align: left;
  letter-spacing: .035rem;
}

.sc-paragraph--calendar-desc {
  display: inline-block
  width: 33%
  
  margin: 0 2% 0 0
  
  vertical-align: top
}

.sc-list-items {
  font-size: 1.2rem;
  line-height: 1.45rem;

  list-style-type: disc;

  text-align: left;
  letter-spacing: .05rem;
}

.sc-list-item {
  padding-bottom: 7px;
}

.sc-paragraph:last-child,
.sc-list-item:last-child {
  padding-bottom: 0;
}

.sc-image {
  padding: 3px;

  transition: padding .25s ease;

  border: 1px dotted currentColor;
  border-radius: 100%;
  
  cursor: pointer
  
  &:hover {
    padding: 7px;
  }
}

.sc-image--about {
  width: 10.25rem;
  height: 10.25rem;

  border-color: #2d2d2d;
}


.sc-image--services {
  width: 16em;
  height: 16em;

  border-color: #f0f0f0;
}

.sc-image--menu {
  width: 14.125em;
  height: 14.125em;

  border-color: #2d2d2d;
}

.sc-image--left {
  float: left;

  margin: 0 1em 0 0;
}

.sc-image--right {
  float: right;

  margin: 0 0 0 1em;
}
