/*<topslider>---------------------------------------------------------------*/
.cd-topslider-wrapper {
  position: relative;

  z-index: 1;

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.cd-topslider {
  text-align: center;

  color: white;
}

.cd-topslider:after {
  display: table;
  clear: both;

  content: '';
}

.cd-topslider > div {
  position: absolute;

  height: 86vh;

  opacity: 0;
  background: no-repeat center center;
  background-size: cover;
}

.cd-topslider > div:first-child {
  position: relative;

  opacity: 1;
}
/*</topslider>--------------------------------------------------------------*/

/*<Calendar>---------------------------------------------------------------*/
.cd-calendar-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;

  width: 65%;
  max-width: 482.25px;
  min-height: 330px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

.cd-calendar > li {
  position: absolute;

  opacity: 0;
}

.cd-calendar > li:first-child {
  position: relative;

  opacity: 1;
}
/*</Calendar>--------------------------------------------------------------*/

/*<Photoslider>---------------------------------------------------------------*/
.cd-photoslider-wrapper {
  position: relative;

  z-index: 1;

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .cd-photoslider-wrapper {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.cd-photoslider {
  text-align: center;

  color: white;
}

.cd-photoslider:after {
  display: table;
  clear: both;

  content: '';
}

.cd-photoslider > div {
  position: absolute;

  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.cd-photoslider.main--slider > div {
  height: 30rem;
}

.cd-photoslider.popup--slider > div {
  height: 100vh;
}

.cd-photoslider > div:first-child {
  position: relative;

  opacity: 1;
}
/*</Photoslider>--------------------------------------------------------------*/


/*<Reviews>-------------------------------------------------------------------*/

.cd-testimonials-wrapper {
  position: relative;
  z-index: 1;

  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 20px 40px 20px;
  /*max-width: 768px;*/

  background-color: #39393c;
}

.cd-testimonials-wrapper::after {
  font-family: 'PT Serif', serif;
  font-size: 70px;
  font-size: 4.375rem;

  position: absolute;
  top: 10px;
  left: 0;
  /* visible on big devices only */

  display: none;

  width: 50px;
  height: 50px;
  margin-left: -25px;
  padding-top: 8px;
  
  /* quotation mark */
  content: '\201C';
  text-align: center;

  color: white;
  background: rgba(32, 32, 34, .9);
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 64px 50px 64px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  text-align: center;

  color: white;
}

.cd-testimonials:after {
  display: table;
  clear: both;

  content: '';
}
.cd-testimonials > li {
  position: absolute;

  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;

  opacity: 1;
}
.cd-testimonials p {
  font-family: 'PT Serif', serif;
  font-size: 1rem;

  margin-bottom: 1rem;
  padding: 0 14px;

  text-align: left;
  text-transform: none;

  color: #f0f0f0;
  text-shadow: -1px -1px 0 #463d37;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 1rem;
  }
}

.cd-author {
  font-family: 'Open Sans Condensed', sans-serif;

  float: right;

  vertical-align: middle;

  text-shadow: -1px -1px 0 #463d37;
}

.cd-author .cd-author-info li {
  padding-right: .5rem;
  padding-bottom: .5rem;

  text-align: right;
}

.cd-author .cd-author-info li:first-child {
  font-size: .9rem;

  color: #f0f0f0;
}

.cd-author .cd-author-info li:last-child {
  font-size: .8rem;

  color: #6b6b70;
}

@media only screen and (min-width: 768px) {
  .cd-author .cd-author-info li:first-child {
    font-size: .9rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: .8rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-author .cd-author-info li:first-child {
    font-size: .9rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: .8rem;
  }
}
/*</Reviews>------------------------------------------------------------------*/

/*<Flexslider>----------------------------------------------------------------*/
.flex-direction-nav li {
  position: absolute;
  top: 0;

  width: 40px;
  height: 100%;
}

.flex-direction-nav li:first-child {
  left: 0;
}

.flex-direction-nav li:last-child {
  right: 0;
}

.flex-direction-nav li a {
  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;
  
  outline: none;

  transition: background-color .25s ease;
  white-space: nowrap;
  text-indent: 100%;
  
  &:hover {
    background-color: rgba(50, 50, 52, .025);
  }
}


.flex-direction-nav li a::before,
.flex-direction-nav li a::after {
  position: absolute;
  top: 55%;
  left: 50%;

  width: 4px;
  height: 15px;
  /* left and right arrows in css only */

  content: '';

  background-color: white;
}

.grey-nav .flex-direction-nav li a::before,
.grey-nav .flex-direction-nav li a::after {
  background-color: grey;
}

.flex-direction-nav li a::before {
/*  -webkit-transform: translateY(-35px) rotate(45deg);
     -moz-transform: translateY(-35px) rotate(45deg);
      -ms-transform: translateY(-35px) rotate(45deg);
       -o-transform: translateY(-35px) rotate(45deg);*/
          transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
/*  -webkit-transform: translateY(-27px) rotate(-45deg);
     -moz-transform: translateY(-27px) rotate(-45deg);
      -ms-transform: translateY(-27px) rotate(-45deg);
       -o-transform: translateY(-27px) rotate(-45deg);*/
          transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
/*  -webkit-transform: translateY(-35px) rotate(-45deg);
     -moz-transform: translateY(-35px) rotate(-45deg);
      -ms-transform: translateY(-35px) rotate(-45deg);
       -o-transform: translateY(-35px) rotate(-45deg);*/
          transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
/*  -webkit-transform: translateY(-27px) rotate(45deg);
     -moz-transform: translateY(-27px) rotate(45deg);
      -ms-transform: translateY(-27px) rotate(45deg);
       -o-transform: translateY(-27px) rotate(45deg);*/
          transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
/*@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before,
  .flex-direction-nav li a::after {
  }
  .flex-direction-nav li a:hover::before,
  .flex-direction-nav li a:hover::after {
  }
}*/
/*</Flexslider>---------------------------------------------------------------*/
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: .1rem;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 .25rem;
  display: inline-block;
  zoom: 1;
}

.flex-control-paging li a {
  width: .75rem;
  height: .75rem;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}