@import url('http://fonts.googleapis.com/css?family=PT+Serif|Open+Sans+Condensed:700&subset=latin,cyrillic')

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-family: 'PT Serif', serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5rem;
}

/*
TOP
**/
.top
  height: 80vh
  overflow hidden

.top__reservation
  text-align: center
/*
TOP
**/
