.u-font-weight--bold {
  font-weight: 700;
}

.clearfix:before,
.clearfix:after {
  display: table;

  content: ' ';
}

.clearfix:after {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.displayInlineBlock {
  display: inline-block;
}

.no-overflow {
  overflow: hidden;
}

.word-wrap {
  word-wrap: break-word;
}

.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.textAlignJustify {
  text-align: justify;
}

.textTransform--none {
  text-transform: none;
}
