<!-- <div class="menu-item">
	<img src="photo/1.jpg" alt="">



	 -->

<script type="text/template" id="menu-template">
// Нужно дописать загрузку данных из json
// <% for(var i=0; i<list.length; i++) { %>
// <div class="menu-item">
// 	<img src="<%=list[i].photo%>" alt="">
// 	<%=list[i].title%>
// <%=list[i].calories%>
// 	<%=list[i].ingredients%>
// 	<%=list[i].price%> руб.</p
// <% } %>
</script>

<script>
// var menu = [
//   {photo: "photo/1.jpg", title: "Салат «Грибы с сыром»", calories: "110/20", ingredients: "гр.шамп жареные, лук, отвар.говяд, сыр", price: "130"}
// ];
// $('#popup_menu').html(
//   _.template( $('#menu-template').html().trim(), {list: menu})
// );
</script>
<div class="cart-basket">
	<a id="basketwidjet" onclick="cart.showWinow()" class="btn btn--gold">
<!--<a onclick="cart.clearBasket()" class="">Очистить</a> -->

<h1>ХОЛОДНЫЕ ЗАКУСКИ</h1>
----------------------------------------------------------------------
	photo/small-3.jpg
  Салат «Грибы с сыром»
  110/20
  гр.шамп жареные, лук, отвар.говяд, сыр
  130

----------------------------------------------------------------------
  Салат «Весенний»
  130/20
  грудка копчен, корр.морк, перец болг, огур.св, грибы шамп.жарен
  100

----------------------------------------------------------------------
	Салат «Морской коктейль»
	130/20
	кальмары отвар, краб.палоч, огурец св, яйцо, креветки, майон
	115

----------------------------------------------------------------------
	Салат «Лёгкий»
	120/20
	курин филе, яйцо, помид св, майон с чесн
	100

----------------------------------------------------------------------
	Салат «Нежность»
	110/20
	курин филе, ананас консерв, лимон, гранат, майон
	100

----------------------------------------------------------------------
	Салат «Обжорка»
	110/20
	отв гов, лук, морковь, огур солен, майон
	100

----------------------------------------------------------------------
	Салат «Пестрый»
	130/20
	мякоть говяд, капус св, фри, морковь, свекла, майон
	100

----------------------------------------------------------------------
	Салат «Сугробики»
	110/20
	свинина, карт, сыр, яйцо, майон с чесн
	100

----------------------------------------------------------------------
	Салат «Кальмары с грибами»
	110/20
	грибы шамп, кальм отв, лук, майон
	130

----------------------------------------------------------------------
	Салат «Судак под шубой»
	130/20
	судак отв, морковь, лук, майон
	130

----------------------------------------------------------------------
	Салат «Фасоль с ветчиной»
	110/20
	ветч, гр марин, кукур конс, морковь, фасоль, перец чер, кр,
	100

----------------------------------------------------------------------
	Салат «Шамп и ветчина в мешочке»
	110/25
	блинчики, ветчина, гр шамп, лук репч
	100

----------------------------------------------------------------------
	Салат «Лисья шубка»
	120/20
	сельдь сол, морк. вар, лук, яйцо, грибы, майон
	100

----------------------------------------------------------------------
	Салат «Любава» (130/20)
	130/20
	кр палочки, окор, перец болг, сыр, майон
	115

----------------------------------------------------------------------
	Салат «Виола»
	110/20
	отв говяд, гр шамп, , кор.мор, гр.орехи, маслины, сыр, яйцо
	100

----------------------------------------------------------------------
	Салат «Подсолнух»
	130/20
	окороч, гр.шам, лук, яйцо, маслины, чипсы, майон
	100

----------------------------------------------------------------------
	Салат «Папа Вито»
	110/20
	семга сол, яйцо, рис отвар, креветки, икра красная, майонез
	170

----------------------------------------------------------------------
	Салат «Белая береза»
	110/20
	яйцо, яблоко зеленое, сыр Россий, окор.отварной, лук, майонез
	100

----------------------------------------------------------------------
	Салат «Греческий»
	150
	огурцы, помидоры, перец болг, брынза, оливки, оливковое масло
	130

----------------------------------------------------------------------
	Салат «Мимоза»
	120/20
	картофель отварной, консерва, лук, яйцо, майонез
	100

----------------------------------------------------------------------
	Салат «Остренький»
	110/20
	корейск.морковь, лук обжар, свинина отвар, яйцо, майонез
	100

----------------------------------------------------------------------
	Салат «Свежесть»
	130/20
	ветчина, огурцы свежие, сыр Россий, яйцо, лук, майонез
	85

----------------------------------------------------------------------
	Салат «Мясной с яблоком»
	110/20
	говядина отвар, лук, яблоко зеленое, майонез
	100

----------------------------------------------------------------------
	Салат «Свежая капуста в маринаде»
	100
	капуста св, лук репч, масло раст, морковь, огурцы свежие, перец болг, сахар, соль
	65

----------------------------------------------------------------------
	Салат «Гурман»
	135
	пекинская капуста, помид.св, сервел., филе курин, майонез
	100

----------------------------------------------------------------------
	Салат «Нептун»
	30
	Кальм, кр.палоч, карт.отв, креветки, майон, перец бол, помид
	115

----------------------------------------------------------------------
	Салат «Надежда»
	110/20
	ветчина, огурец св, помид.св, майонез, сыр
	100

----------------------------------------------------------------------
	Салат «Лесная Поляна»
	155
	говядина мякоть, грибы мар, картофель, кор морковь, филе куриное, яйцо, майонез, зелень
	125

----------------------------------------------------------------------
	Салат «Италия»
	130
	ветчина, гранат, зелень, морковь, огурец св, окорочка копч, сыр российск, майонез
	110

----------------------------------------------------------------------
	Салат «Ромашка»
	180
	грибы шамп, зелень, майонез, огурцы св, пекинская капуста, филе курин, яйцо, салат листовой
	110

----------------------------------------------------------------------
	Салат «Ницца»
	160
	семга сол, помид св, перец болг, огурцы св, морковь, лук репч, маслины, лимон, зелень, салат листовой, соус греческий
	125

----------------------------------------------------------------------
	Салат «Цезарь с говядиной»
	150
	говядина мякоть, пекин капуста, помидора св, сыр российск, соус цезарь, сухарики для салатов
	100

----------------------------------------------------------------------
	Салат «Цезарь с креветками»
	150
	креветки, пекинская кап, помидора св, сыр российск, соус цезарь, сухарики для салата
	120

----------------------------------------------------------------------
	Салат «Цезарь с курицей»
	150
	филе куриное, пекинск капуста, помид св, сыр российск, соус цезарь, сухарики для салата
	100

----------------------------------------------------------------------
	Салат «Цезарь с сёмгой»
	150
	пекинск капуста, помид св, семга сол, сыр российск, соус цезарь, сухарики для салата
	155

----------------------------------------------------------------------
<h1>ГАРНИР</h1>
Гречка отварная
150
65

----------------------------------------------------------------------
Капуста тушённая
150
50

----------------------------------------------------------------------
Картофель запеченный в духовке
150
65

----------------------------------------------------------------------
Картофель по-самарски
230
100

----------------------------------------------------------------------
Картофель фри
150
100

----------------------------------------------------------------------
Картофель фри-дольками
150
100

----------------------------------------------------------------------
Картофель фри-шариками
150
100

----------------------------------------------------------------------
Картофельное пюре
200
65

----------------------------------------------------------------------
Макароны отварные
150
35

----------------------------------------------------------------------
Овощная смесь
150
85

----------------------------------------------------------------------
Овощьное рагу
150
100

----------------------------------------------------------------------
Рис отварной
200
50

----------------------------------------------------------------------
Цветная капуста запеченная
150
95

----------------------------------------------------------------------
Фасолевая смесь
150
100

----------------------------------------------------------------------
<h1>ВТОРОЕ</h1>
«Тигровая лапа»
200
Отбивная из говядины обжар.на подушке из тертого картофеля
225

----------------------------------------------------------------------
«Баранина тушёная»
150
Баранина, зелень, лук, морковь, специи.
210

----------------------------------------------------------------------
Вырезка свиная «Элита»
100
Грибы шамп, карбанат свиной, лук, зелень, сливки, специи.
170

----------------------------------------------------------------------
«Говядина с грибами по-строгоновски»
150
Говядина мякоть, грибы шамп, огурцы марин, сливки, лук, специи
170

----------------------------------------------------------------------
«Говядина тушеная с овощами»
150
Говядина мякоть, зелень, лук, морковь, помидора, сметана, специи
225

----------------------------------------------------------------------
«Голубцы тушенные»
125
Фарш мясн, рис отв, капуста, морковь, лук, зелень, том.паста, спец
90

----------------------------------------------------------------------
«Грибы жаренные»
100
Грибы шамп.лук, , специи
130

----------------------------------------------------------------------
«Гуляш»
120
Говядина мякоть, лук, морковь, помидор свеж, том паста, специи
225

----------------------------------------------------------------------
«Жаркое в горшочке с мясом»
75/250
Картофель св.свинина мякоть, лук, морковь, специи
200

----------------------------------------------------------------------
«Жаркое в горшочке с грибами»
350
Картофель св.грибы шампин, лук, сливки, сыр российск, специи.
200

----------------------------------------------------------------------
«Корейка на косточке в соусе(Свинина)»
150/50
Корейка, грибы, лук, сливки
225

----------------------------------------------------------------------
«Куриное филе Ришелье»
80/45
Куриное филе, грибы шамп.помидор, сыр российск.майон, специи
145

----------------------------------------------------------------------
«Манты»
100/20
Фарш мясн, лук, тесто пельменное, специи
75

----------------------------------------------------------------------
«Метители»
100/30
Фарш мясной, чеснок, сливки
145

----------------------------------------------------------------------
«Мясо по-французски»
100/250
Мясо говядина, огурец солёный, лук, специи
235

----------------------------------------------------------------------
«Окорочка жаренные»
100
Окорочка св, чеснок, майонез, специи.
75

----------------------------------------------------------------------
«Окорочка фаршированные»
100
Окорочка, грибы шамп, лук, морковь, чеснок, специи
110

----------------------------------------------------------------------
«Свинина в кляре(Северная звезда)»
130/20
Карбонат свиной, майонез, лимон, кляр, чеснок, специи.
225

----------------------------------------------------------------------
«Свинина с ананасами»
150
Карбонат свиной, ананас консерв.сыр российск.майонез.специи.
240

----------------------------------------------------------------------
«Перец фаршированный»
80/20
Фарш мясной, перец болг, рис, лук, морковь, зелень, томат.паста
90

----------------------------------------------------------------------
«Стейк (Красная шапочка)»
100/50
Карбонат свиной, лук, помидора св.сыр российск.майонез, специи
235

----------------------------------------------------------------------
Кицуми(из куриного филе)
150гр
ананас конц., лук репка, перец болг, соусКимчи, соус соевый
145

----------------------------------------------------------------------
Свинина с ананасами
150гр
каронат свиной, ананас консерв, сыр российск, майонез, специи.
240

----------------------------------------------------------------------
Свинина с овощами
150гр
свинина мякоть , баклажаны, грибы шамп, лук, морковь, салат лист, соев.соус
145

----------------------------------------------------------------------
Семга «Баунти»
115гр
ананас консер, лук, перец болг, семга, сыр
345

----------------------------------------------------------------------
Семга «Царский пир»
115гр
ананас консер, лук, перец болг, семга, сыр
345

----------------------------------------------------------------------
<h1>Банкетное</h1>
	«Курица в гнезде»
	1кг
	Курица св.майонез, чеснок, , специи, картофель фри, зелень.
	645

----------------------------------------------------------------------
	«Грибы шампиньоны в беконе»
	40г
	Гр.шамп, бекон, специи, соус
	80

----------------------------------------------------------------------
	«Грибы шампиньоны фаршированные»
	40г
	ножка грибка, лук св, помид.св, сыр
	45

----------------------------------------------------------------------
	Гусь с черносливом
	1кг
	гусь, черносл, сливки,
	770

----------------------------------------------------------------------
	«Гусь с яблоками»
	1кг
	770

----------------------------------------------------------------------
	«Гусь фарщированный»
	1кг
	гусь, рис с грибами
	770

----------------------------------------------------------------------
	«Жульен с курицей и грибами»
	филе курин, грибы шамп, лук, сыр, специи, соус
	110

----------------------------------------------------------------------
	«Куриное филе в кляре»
	1кг
	кур.филе, специи, кляр,
	645

----------------------------------------------------------------------

	«Рулет»
	1кг
	лаваш, сёмга, сыр плавленный
	1995

----------------------------------------------------------------------

	«Рулет из говядины шпигованный овощами»
	1кг
	1530

----------------------------------------------------------------------
	«Рулет печеночный»
	1кг
	770

----------------------------------------------------------------------
	«Рулетики с черносливом и киви»
	100
	свин.отб, черносл, киви, специи
	175

----------------------------------------------------------------------
	«Рулетики из ветчины заливные»
	115гр
	ветчина, грибы, яйцо, желатин
	180

----------------------------------------------------------------------
	«Рулетики омлетные»
	1кг
	яйцо, чеснок, орехи грецкие, зелень, майонез
	615

----------------------------------------------------------------------
	«Рулетики из капусты маринованные»
	80гр
	кап.св, морковь, свекла св, маринад
	45

----------------------------------------------------------------------
	«Рулетики из куриного филе»
	100гр
	сыр, бекон)
	175

----------------------------------------------------------------------
	«Рулетики с горбушой в лаваше»
	100гр
	лаваш, горб.св, сл.масло, зелень, лимон, сливки, помид.св
	95

----------------------------------------------------------------------
	«Судак жаренный в кляре»
	1кг
	770

----------------------------------------------------------------------
	«Судак жаренный кусочками»
	1кг
	1230

----------------------------------------------------------------------
	«Филе морского языка в кляре»
	1кг
	615

----------------------------------------------------------------------
	«Холодец»
	1кг
	185

----------------------------------------------------------------------
	«Щука фаршированная»
	1кг
	1230

----------------------------------------------------------------------
<h1>Бутерброды, закуски</h1>
	«Тарталетки с красной икрой»
	15/20
	105

----------------------------------------------------------------------
	«Тарталетки с печенью трески»
	40/25
	45

----------------------------------------------------------------------
	«Тарталетки с сыром и чесноком»
	30/25
	45

----------------------------------------------------------------------
	«Помидоры фаршированные сыром и чесноком»
	50/35
	95

----------------------------------------------------------------------
	«Помидора фаршированная кольцом крабовые палочки»
	50/50
	помид.св, краб.палоч, зелень, майон, чеснок
	80

----------------------------------------------------------------------
	«Яйцо фаршированное сыр и грибы»
	30гр
	40

----------------------------------------------------------------------
	«Бутерброд с помидорой»
	35/20
	сыр, сёмга, кр.икра
	145

----------------------------------------------------------------------
	«Бутерброд с сёмгой»
	20/20
	95

----------------------------------------------------------------------
	«Бутерброд с красной икрой»
	15/20
	110

----------------------------------------------------------------------
	«Икра красная»
	100гр
	480

----------------------------------------------------------------------
	«Перец фаршированный(кольцо с говядиной и грибами)
	100
	грибы шамп, гов.отв, перец болг, сыр, сливки
	100

----------------------------------------------------------------------
	«Баклажанные рулетики с помидорой»
	60гр
	баклаж, соус чеснок с майн-м, долька помидора
	85

----------------------------------------------------------------------
	«Баклажаны фаршированные половинки»
	200гр
	Баклаж, перец болг, лук, помид, филе курин, сыр с майон,
	160

----------------------------------------------------------------------
<h1>Кейтеринг</h1>
	Салат «Грибы с сыром»
	110/20
	грибы шампиньоны жареные, лук, отварная говядина, сыр
	130

----------------------------------------------------------------------
	Салат «Весенний»
	130/20
	грудка куриная копченая, корейская морковь, перец болгарский, огурцы, грибы жареные
	100

----------------------------------------------------------------------
	Салат «Обжорка»
	110/20
	отварная говядина, лук, морковь, огурец соленый, майонез
	100

----------------------------------------------------------------------
	Салат «Кальмары с грибами»
	110/20
	грибы шампиньоны, кальмар отварной, лук, майонез
	130

----------------------------------------------------------------------
	Мясо провансаль – заливное
	100
	105

----------------------------------------------------------------------
	«Окорочка фаршированные»
	100
	Окорочка, грибы жареные шампиньоны, лук, морковь, чеснок, специи
	110

----------------------------------------------------------------------
	«Грибы шампиньоны в беконе»
	40г
	Грибы шампиньоны, бекон, специи, соус
	80

----------------------------------------------------------------------
	«Грибы шампиньоны фаршированные»
	40г
	Грибы шампиньоны, лук помидоры, сыр
	45

----------------------------------------------------------------------
	«Куриное филе в кляре»
	1кг
	куриное филе, специи, кляр,
	645

----------------------------------------------------------------------
	«Рулет»
	1кг
	лаваш, сёмга, сыр плавленый
	1995

----------------------------------------------------------------------
	«Рулет печеночный»
	1кг
	770

----------------------------------------------------------------------
	«Рулетики с черносливом и киви»
	100
	свинина отбивная, чернослив, киви, специи
	175

----------------------------------------------------------------------
	«Рулетики омлетные»
	1кг
	яйцо, чеснок, орехи грецкие, зелень, майонез
	615

----------------------------------------------------------------------
	«Рулетики из капусты маринованные»
	80гр
	капуста свежая, морковь, свекла, маринад
	45

----------------------------------------------------------------------
	«Рулетики из куриного филе»
	сыр, бекон, куриное филе
	175

----------------------------------------------------------------------
	«Рулетики с горбушей в лаваше»
	100гр
	лаваш, горбуша свежая, сливочное масло, зелень, лимон, сливки, помидора
	95

----------------------------------------------------------------------
	«Судак, жаренный в кляре»
	1кг
	770

----------------------------------------------------------------------
	«Филе морского языка в кляре»
	1кг
	615

----------------------------------------------------------------------
	«Холодец»
	1кг
	185

----------------------------------------------------------------------
	«Щука фаршированная»
	1кг
	1230

----------------------------------------------------------------------
	«Тарталетки с красной икрой»
	15/20
	105

----------------------------------------------------------------------
	«Тарталетки с печенью трески»
	40/25
	45

----------------------------------------------------------------------
	«Тарталетки с сыром и чесноком»
	30/25
	45

----------------------------------------------------------------------
	«Помидоры, фаршированные сыром и чесноком»
	50/35
	95

----------------------------------------------------------------------
	«Помидора фаршированная крабовыми палочками»
	50/50
	помидора, крабовые палочки, зелень, майонез, чеснок
	80

----------------------------------------------------------------------
	«Яйцо, фаршированное сыр и грибы»
	30гр
	40

----------------------------------------------------------------------
	«Бутерброд с помидором»
	35/20
	сыр, сёмга, красная икра
	145

----------------------------------------------------------------------
	«Бутерброд с сёмгой»
	20/20
	95

----------------------------------------------------------------------
	«Бутерброд с красной икрой»
	15/20
	110

----------------------------------------------------------------------
	«Перец фаршированный(кольцо с говядиной и грибами)»
	грибы шампиньоны, говядина отварная, перец болгарский, сыр, сливки
	100

----------------------------------------------------------------------
	Волованы с окороком
	35

----------------------------------------------------------------------
	Волованы с красной икрой
	80

----------------------------------------------------------------------
	Волованы с муссом из сёмги
	80

----------------------------------------------------------------------
	Канапе
	виноград, сыр, семга, хлеб
	40

----------------------------------------------------------------------
	Канапе
	маслины, сыр, ветчина, хлеб
	25

----------------------------------------------------------------------
	Тыква с овощами
	тыква, чернослив, курага
	300

----------------------------------------------------------------------
	Круассан со сгущенкой
	65

----------------------------------------------------------------------
	Корзиночка с ягодой
	65

----------------------------------------------------------------------
	Корзиночка с кремом
	50

----------------------------------------------------------------------
	Пирожное заварное
	50

----------------------------------------------------------------------