@import 'partials/style.styl'
@import 'partials/colors.styl'
@import 'partials/slider.styl'
@import 'partials/sections.styl'
@import 'partials/navigation.styl'
@import 'partials/modal.styl'
@import 'partials/menu.styl'
@import 'partials/form.styl'
@import 'partials/footer.styl'
@import 'partials/cart.styl'
@import 'partials/calendar.styl'
@import 'partials/btn.styl'
@import 'partials/admin.styl'
