/*<sections background and colors>--------------------------------------------*/
/*!The CSS should be connected last to work correct!*/
/*red #df6161
gold #eee8d9
grey (brown) #564f4a*/

.gold {
  /*background-color: rgba(255,215,0,1);*/
  /*color: #5b534e;*/
  color: #2d2d2d;
  /*background-color: #fcec00;*/
  /*background-color: #FFF343;*/
  background-image: url(../../img/bg-beige-repeat.png);
  /*text-shadow: 1px 1px 0 #f8f5ed;*/
  /*text-shadow: .25px .5px 0 #ffffff;*/
}

/*.gold h1 {
  color: #c6c0ba;
}*/
.gold__heading {
  color: #f0f0f0;
}

.gold__heading-background {
  background-color: #2d2d2d;
}

.red {
  color: #f0f0f0;
  /*background-color: #e31e24;*/
  /*background-color: #D20005;*/
  /*background-color: #cb413f;*/
  background-image: url(../../img/bg-red-repeat.png);
  /*Фоновый цвет и тени*/
  box-shadow: inset 0 2px 2px #bc4b4b, inset 0 -2px 2px #bc4b4b;
  text-shadow: -1px -1px 0 #d25151;
  /*background-color: #df6161;
	box-shadow: inset -2px -2px 2px #bc4b4b;
	border-bottom: 1px solid #f4f0e6;*/
}

.grey {
  color: #f0f0f0;
  background-color: #2d2d2d;
  /*background-image: url(../../img/bg-brown-repeat.png);*/
  /*box-shadow: inset 0 2px 2px #4a4340, inset 0 -2px 2px #4a4340;*/
  /*text-shadow: -1px -1px 0 #463d37;*/
  /*Фоновый цвет и тени*/
  /*background-color: #564f4a;
	box-shadow: inset 0px 2px 2px #4a4340, inset 0px -2px 2px #4a4340;
	border-top: 1px solid #f4f0e6;
	border-bottom: 1px solid #e37d7b;*/
}

/*.grey h1 {
  color: #c6c0ba;
}*/

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

.btn--top {
  color: #f0f0f0;
  border-color: #f0f0f0;
  background: rgba(0, 0, 0, .2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.btn--top:hover {
  color: #2d2d2d;
  border-color: #2d2d2d;
  background: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.btn--gold {
  color: #2d2d2d;
  border-color: #2d2d2d;
  background: #fcec00;
}

.btn--gold:hover {
  color: #f0f0f0;
  background: #2d2d2d;
}

.btn--grey {
  color: #f0f0f0;
  border-color: #f0f0f0;
  background: #2d2d2d;
}

.btn--grey:hover {
  color: #2d2d2d;
  background: #f0f0f0;
}

.btn--red {
  color: #f0f0f0;
  border-color: #f0f0f0;
  background: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.btn--red:hover {
  color: #e31e24;
  background: #f0f0f0;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn--add {
  color: #2d2d2d;
  background-color: rgba(0, 0, 0, 0);
  /*text-shadow: 0 0 0 rgba(0, 0, 0, 0);*/
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

.top_nav-sticky {
  background-color: #fcec00;
}

.nav-link {
  color: #f0f0f0;
  border-color: #f0f0f0;
}

.nav-link:hover {
  border-color: #f0f0f0;
}

.top_nav-sticky .nav-link,
.top_nav-sticky .nav-link:visited {
  color: #2d2d2d;
}

.top_nav-sticky .nav-link:hover {
  border-color: #2d2d2d;
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

.days_cal--inner {
  color: #2d2d2d;
  border-color: rgba(0, 0, 0, 0);
}

.days_cal--inner_selected {
  border-left-color: #2d2d2d;
  border-right-color: #2d2d2d;
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

