@import url(http://fonts.googleapis.com/css?family=PT+Serif|Open+Sans+Condensed:700&subset=latin,cyrillic);

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;

  content: ' ';
}

.clearfix:after {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.displayInlineBlock {
  display: inline-block;
}

.no-overflow {
  overflow: hidden;
}

.word-wrap {
  word-wrap: break-word;
}

.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.textAlignJustify {
  text-align: justify;
}

.textTransform--none {
  text-transform: none;
}

/*.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}*/

body {
  font-size: 16px;

  min-width: 960px;

  /*background-color: rgba(238, 232, 217, .9);*/
  /*background-color: #ecc7e9;*/
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  /*font-family: 'PT Serif', serif;*/
  text-transform: uppercase;
}

p {
  font-family: 'PT Serif', serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5rem;
}

@media (max-width: 960px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 95%;
  }
}

/*<top>-----------------------------------------------------------------------*/
.top {
  min-height: 86vh;
  max-height: 86vh;

  text-align: center;

  background-image: url(../../img/background-main-cropped.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.top__reservation {
  text-align: center;
}